*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.wrapper {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}
.landing {
  text-align: center;
  background-color: #FFE272;
  height: 400px;
  .welcome-text {
    padding-top: 160px;
    h1 {
      font-family: 'Shrikhand', cursive;
      font-size: 3em;
    }
    h3 {
      font-family: 'Raleway', sans-serif;
      font-size: 1.1em;
      padding-top: 5px;
    }
    .actions {
      color: #6A5E2F;
      text-transform: uppercase;
      font-style: italic;
      font-size: 0.9em;
      padding-top: 30px;
      span {
        text-transform: lowercase;
        font-style: normal;
        font-size: 0.8em;
      }
    }
  }
}