*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
.landing {
  text-align: center;
  h1 {
    font-family: 'Shrikhand', cursive;
  }
}