/* ==========================================================================
   Reset - http://meyerweb.com/eric/tools/css/reset/ - v2.0 | 20110126
   ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Oxygen:700');

body {
  font: 1em 'Lato', sans-serif;
}

p {
  line-height: 1.7em;
}

/* ==========================================================================
   Images
   ========================================================================== */

.img-circle {
  border-radius: 50%;
}

/* ==========================================================================
   Layout
   ========================================================================== */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Clearfix
   ========================================================================== */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

/* Buttons
   ========================================================================== */

.btn {
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #000000;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.8em;
}

/* Links
   ========================================================================== */

a:link {
  color: #000000;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #FFE272;
}

a:visited {
  color: #ACACAC;
  border-bottom: 1px solid #ACACAC;
}

/* Navigation
   ========================================================================== */

.main-nav {
  margin: 0 auto;
  max-width: 90%;
  height: 70px;
}

.border {
  border-bottom: 1px solid #E4E4E4;
}

.logo {
  float: left;
  display: inline-block;
  font-family: "Oxygen";
  text-transform: uppercase;
  font-size: 0.9em;
  img {
    float: left;
    height: 27px;
    margin-top: 24px;
  }
  p {
    color: #4C4C4C;
    margin-top: 25px;
    margin-left: 7px;
    float: right;
  }
  a:visited {
    color: #000;
  }
}

.nav {
  float: right;
  li {
    color: #4C4C4C;
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.68em;
    margin-top: 2.7em;
    margin-left: 2.2em;
  }
  a:link {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    border-bottom: 1px solid #7F7034;
  }
  a:visited {
    color: #000;
    border-bottom: 1px solid #7F7034;
  }
}

/* Reusable components
   ========================================================================== */

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 760px;
}

.content-block {
  margin-top: 5.5em;
  margin-bottom: 5.5em;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

.date {
  text-transform: uppercase;
  font-size: 0.75em;
  margin-bottom: 0.7em;
  color: #515151;
}

.post-preview {
  margin-top: 2em;
  margin-bottom: 2em;
  h4 {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0.2em;
  }
}

/* Specific styles
   ========================================================================== */

.landing {
  text-align: center;
  background-color: #FFE272;
  height: 400px;
  .welcome-text {
    padding-top: 160px;
    h1 {
      font-family: 'Shrikhand', cursive;
      font-size: 3em;
      margin-bottom: -0.2em;
    }
    h3 {
      font-family: 'Raleway', sans-serif;
      font-size: 1.1em;
      margin-bottom: 1em;
    }
  }
}

.post {
  h1 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 0.2em;
  }
  h2 {
    font-size: 1.2em;
    font-family: "Open Sans", sans-serif;
    margin-top: 2em;
    margin-bottom: 0.5em
  }
  .post-header {
    text-align: center;
    font-weight: 400;
    hr {
     border: 0;
     height: 0;
     border-top: 1px solid #DEDEDE;
     width: 15%;
    }
  }
  .post-summary {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-style: italic;
  }
  .content {
    margin-top: 2.5em;
    p {
      margin-bottom: 1.6em;
    }
  }
}

.page {
  p {
    margin-bottom: 1.6em;
  }
  .page-header {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1.7em;
    h1 {
      font-size: 1.2em;
      font-family: "Open Sans";
    }
    img {
      margin-bottom: 1em;
    }
  }
}

/* Footer
   ========================================================================== */

.footer {
  margin-top: 4em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 0.9em;
  color: #7C7C7C;
}